@mixin box {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

@mixin button_green {
  @include simple_text;
  border-radius: 24.82px;
  background: #7d806a;
  color: #ffffff;
  padding: 12px 36px;
}

@mixin simple_text {
  color: #333333;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
}

@mixin brown_title {
  @include simple_text;
  color: #8e6746;
  margin-bottom: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

@mixin green_subtitle {
  color: #7d806a;
  font-family: 'Philosopher';
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
}

@mixin green_small_text {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: #333;
}