.advantages {
    @include box;
    padding: 100px;

    .layout {
        display: flex;
        flex-direction: column;
        gap: 94px;

        .about__advantages {
            display: flex;
            position: relative;
            justify-content: center;
            gap: 108px;

            .about__tea-group {
                display: block;
                position: relative;

                .about__tea-cup {
                    z-index: 1000;
                    position: relative;
                    margin-left: 10%;
                }

                .about__tea-leaf {
                    position: absolute;

                }

                .about__tea-leaf:nth-child(2) {
                    bottom: 24%;
                    right: 52%;
                }

                .about__tea-leaf:nth-child(3) {
                    bottom: 16%;
                    right: 52%;
                }
            }

            .info__advantages {
                h3 {
                    @include brown_title;
                }

                h2 {
                    @include green_subtitle;
                    margin-bottom: 36px;
                }

                p {
                    color: #333333;
                    font-family: 'Roboto';
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 30px;
                    max-width: 650px;
                    margin-bottom: 40px
                }

                button {
                    @include button_green;
                }
            }

        }

        .why-us__advantages {
            margin: 0 auto;
            text-align: center;

            h3 {
                @include brown_title;
                margin-bottom: 28px;
            }

            h2 {
                @include green_subtitle;
                margin-bottom: 32px;
            }

            p {
                color: #333333;
                font-family: 'Roboto';
                font-size: 20px;
                font-weight: 300;
                line-height: 30px;
                margin-bottom: 48px;
            }

            .group__advangtages {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-around;

                .item__advantages {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 48px;
                    flex-wrap: wrap;
                }

                p {
                    color: #7d806a;
                    font-family: 'Philosopher';
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 34px;
                }
            }
        }
    }
}