main {
    .layout {
        max-width: 780px;
        width: 100%;
        padding: 0 64px 109px;

        .main__tea {
           @include brown_title;
        }

        .main__title {
            color: #7d806a;
            font-family: 'Philosopher';
            font-size: 80px;
            font-weight: 700;
            line-height: 90px;
            margin-bottom: 28px;

        }

        .main__text {
            @include simple_text;
            font-weight: 300;
            line-height: 30px;
            margin-bottom: 48px;
        }

        .main__btn-tea {
            @include button_green;
        }
    }

}